@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;1,300&family=Shadows+Into+Light&display=swap');

.headercontainer {
  background-image: url("/home/marlonjoseuzca/Documentos/Mis Proyectos/sirrobertinc/src/assets/img/BannerPage.jpg");
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.8);
  object-fit: contain;
}

.headercontainer > h1 {
  color: #fff;
  font-size: 100px;
  margin-top: 200px;
  font-family: "Kanit", sans-serif;
}


.headercontainer > h3 {
  margin-top: 8;
  color: #fff;
  font-size: 32px;
  font-family: "Shadows Into Light", cursive;
  font-weight: bold;
  letter-spacing: 3px;
}

.headercontainer > p {
  color: #fff;
}

.headerbtns {
  margin-top: 32px;
}

#btns {
  margin: 6px;
}

@media screen and (max-width: 960px) {
  .headercontainer > h1 {
    font-size: 70px;
    margin-top: 170px;
    padding: 10px;
  }
  .headercontainer > h3 {
    margin-top: 8;
    padding: 10px;
    font-size: 32px;
  }
}

@media screen and (max-width: 768px) {
  .headercontainer > h1 {
    font-size: 50px;
    margin-top: 150px;
    padding: 10px;
  }
  .headercontainer > h3 {
    font-size: 30px;
  }
}

@media screen and (max-width: 340px) {
  .headercontainer > h1 {
    font-size: 30px;
    margin-top: 150px;
    padding: 10px;
  }
  .headercontainer > h3 {
    font-size: 20px;
  }
}


